<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886626107303-i812hqv7bminose8da3943t881bonpds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886626107303-i812hqv7bminose8da3943t881bonpds</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886626107303-sqk567983p5k6fe7v3u06soc69ejt8tb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFxQZCJkoXd5VPB-1EBDMHoLanPni2Mtw</string>
	<key>GCM_SENDER_ID</key>
	<string>886626107303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farm2fork.app</string>
	<key>PROJECT_ID</key>
	<string>farm2fork-2a5b9</string>
	<key>STORAGE_BUCKET</key>
	<string>farm2fork-2a5b9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886626107303:ios:e8f498d43dd0d4cb998082</string>
</dict>
</plist>